name: Inventory Cleanup
on:
  schedule:
    - cron: '*/30 * * * *' # Roda a cada 30 minutos
jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Call Cleanup API
        run: curl -X GET https://seu-projeto.vercel.app/api/cron/cleanup